# Virtual environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Django
db.sqlite3
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Static & Media
/staticfiles/
/media/

# Environment
.env
